/* Tailwind config */
/* Discomment bellow and keep on this line to enable tailwindcss */
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(lightblue, white);
  background-color: lightblue;
}